.pageContainer {
    display: flex;
    height: 100vh;
    justify-content: flex-start;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    margin-left: 240px;
    border: none;
    flex: 1;
    position: relative;
}

.chatMessages {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chatInputArea {
    display: flex;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 240px);
    z-index: 10;
}

.sendButton {
    padding: 0.5rem 1rem;
    background-color: #585757;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #4d4d4d;
}

.sidebarContent {
    position: relative;
    z-index: 1;
}
